@model ProductClassModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">分类添加</div>
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" lay-filter="component-form-group">
                    <div class="layui-form-item">
                        <label class="layui-form-label">所属分类</label>
                        <div class="layui-input-block">
                            @Html.Action("Index","ClassList")                            
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类名称</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(m => m.ClassName,new { lay_verify = "required", placeholder = "请输入",@class="layui-input" })
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">分类描述</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(m => m.ClassIntro, new { lay_verify = "required", placeholder = "请输入", @class = "layui-input" })
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/layuiadmin/layui/layui.js"></script>
    <script>
      layui.config({
        base: '/layuiadmin/' //静态资源所在路径
      }).extend({
        index: 'lib/index' //主入口模块
      }).use(['index', 'form'], function(){
        var $ = layui.$
        ,admin = layui.admin
        ,element = layui.element
        , form = layui.form;

          

        /* 监听提交 */
        form.on('submit(component-form-demo1)', function(data){
          $.ajax({
              url: "@Url.Action("Create")",
              type: "post",
              dataType: "json",
              data: data.field,
              success: function (d) {
                  layer.msg('添加成功', { icon: 6 }, function () {
                      window.location = "@Url.Action()";
                  });
              }
          })
          return false;
        });
      });
    </script>
</body>
</html>
