@model IEnumerable<ProductClassModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>静态表格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">商品分类</div>
                    <div class="layui-card-body">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>分类ID</th>
                                    <th>分类名称</th>
                                    <th>分类描述</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ClassID</td>
                                        <td>
                                            @{ if (item.ParentID == 0)
                                                {
                                                    @Html.Raw($"<b>{item.ClassName}</b>")
                                                }
                                                else
                                                {
                                                    string nbsp = "|";
                                                    for (int i = 0; i < item.Depth * 3; i++)
                                                    {
                                                        nbsp += "-&nbsp;";
                                                    }
                                                    @Html.Raw($"{nbsp}├{item.ClassName}")
                                                }
                                             }
                                        </td>
                                        <td>@item.ClassIntro</td>
                                        <td>
                                            <a class="layui-btn layui-btn-xs" href="@Url.Action("Create", new { id = item.ClassID })"><i class="layui-icon layui-icon-addition"></i>添加</a>
                                            <a class="layui-btn layui-btn-xs layui-btn-normal" href="@Url.Action("Edit", new { id = item.ClassID })"><i class="layui-icon layui-icon-male"></i>修改</a>
                                            <a class="layui-btn layui-btn-xs layui-btn-warm" href="@Url.Action("Move", new { id = item.ClassID })"><i class="layui-icon layui-icon-set-sm"></i>移动</a>
                                            <a class="layui-btn layui-btn-xs layui-btn-danger delete" href="javascript:void(0)" id="@item.ClassID"><i class="layui-icon layui-icon-face-smile"></i>删除</a>
                                        </td>
                                    </tr>
                                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/layuiadmin/layui/layui.js"></script>
    <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
      index: 'lib/index' //主入口模块
  }).use(['index', 'layer'], function () {
      var $ = layui.$;


      $(".delete").click(function () {
          var id = $(this).attr("id");

          layer.confirm('确认删除吗？', function (index) {
              $.ajax({
                  url: "@Url.Action("Delete")",
                  type: "get",
                  dataType: "json",
                  data: {id:id},
                  success: function (d) {
                      layer.msg(d.Msg, {
                          icon: 1,
                          time: 2000 //2秒关闭（如果不配置，默认是3秒）
                      }, function () {
                              if (d.ErrorCode == 0) {
                                  window.location.reload();
                              }
                      });
                  }
              })
          });

      });
  });
    </script>
</body>
</html>